<!DOCTYPE html>

 <html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        {% if template == '404' %}<meta http-equiv="refresh" content="0;URL={{ shop.url }}" />{% endif %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
        {%- if settings.favicon != blank -%}
          <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        {%- endif -%}
    
        <title>
          {{ page_title }}
          {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
          {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
          {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>
    
        {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    
        {% render 'meta-tags' %}
    
        {{ content_for_header }}
    
        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>  
    
      {% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
    </head>

    <body class="game">
        <main id="MainContent" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>
    </body>

</html>
    