<style>
    @font-face {
        font-family: 'Harvard';
        src: url( {{- 'font-filmotype-harvard.eot' | asset_url -}} );
        src: url( {{- 'font-filmotype-harvard.eot?#iefix' | asset_url -}} ) format('embedded-opentype'),
        url(  {{- 'font-filmotype-harvard.woff2' | asset_url -}}) format('woff2'),
        url(  {{- 'font-filmotype-harvard.woff' | asset_url -}}) format('woff'),
        url(  {{- 'font-filmotype-harvard.svg?#Hudson' | asset_url -}}) format('svg');
        font-weight: normal;
        font-style: normal; 
        font-display: swap; 
      }

</style>

{{ 'animate.min.css' | asset_url | stylesheet_tag }}
{{ 'landing-social.css' | asset_url | stylesheet_tag }}

<div id="app">
    <div v-if="ready" >

        <div class="landing-container">


            <div class="logo animate__animated animate__zoomIn animate__delay-1s">
                <?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#B2966E;}
                        .st1{display:none;fill:#FFFFFF;}
                        .st2{font-family:'FlashD-Ligh';}
                        .st3{font-size:102.9305px;}
                        .st4{fill:#FFFFFF;}
                        .st5{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
                        .st6{display:none;}
                        .st7{display:inline;fill:#3A211C;stroke:#3A211C;stroke-miterlimit:10;}
                        .st8{font-size:254.1881px;}
                        .st9{font-size:211.5894px;}
                        .st10{fill:#3A211C;stroke:#3A211C;stroke-width:3;stroke-miterlimit:10;}
                        .st11{display:none;fill:#F9EA6D;}
                        .st12{font-size:164.2051px;}
                        .st13{fill:#F7E15C;stroke:#F7E15C;stroke-miterlimit:10;}
                    </style>
                    <g id="DOT">
                        <circle class="st0" cx="306" cy="396.7" r="268.3"/>
                    </g>
                    <g id="BIG_BOY_x27_S">
                        <text transform="matrix(1.0073 0 0 1 116.8467 302.1758)" class="st1 st2 st3">BIG BOY’S</text>
                        <g>
                            <g>
                                <path class="st4" d="M127.3,299l-1.1,1.8c-0.6,1-1.2,1.5-1.7,1.5s-1.9-1-4.2-2.9c-2.1-1.8-3.2-3.5-3.2-4.9c0-1.1,0.9-3.4,2.7-6.7
                                    c0.9-1.9,4.3-9.2,10-21.9c1-2.3,2.8-6.8,5.3-13.5c0.3-0.9,0.6-1.5,0.7-1.8c0.1-0.3,0.2-0.6,0.2-0.9c0-0.3-0.1-0.4-0.2-0.5
                                    c-0.1-0.1-0.5-0.2-1.2-0.2c-0.9-0.1-1.9-1-2.8-2.8c-1-1.8-1.5-3.5-1.5-5.1c0-0.9,0.1-1.6,0.4-2.1c0.3-0.5,0.8-0.9,1.6-1.3
                                    c2.2-1.1,5.4-2.1,9.6-2.9c4.2-0.8,8.2-1.2,11.9-1.2c5.6,0,9.6,1.6,12.1,4.8c2.5,3.2,3.7,6.9,3.7,11.1c0,2.5-0.8,5-2.4,7.3
                                    c-1.6,2.3-4.6,5.5-9.1,9.5c-0.8,0.7-1.2,1.2-1.2,1.6c0,0.2,0.2,0.6,0.5,1.1c1.9,3,2.9,5.4,2.9,7.2c0,2.2-0.9,4.9-2.7,8.1
                                    c-1.8,3.2-4.1,6.2-6.9,9.1c-3.1,3.2-6.5,5.6-10.3,7.3c-2.4,1.1-4,1.6-4.8,1.6c-1.3,0-3.3-1.5-6.1-4.4c-0.4-0.4-0.7-0.7-1-0.7
                                    C128.6,297.2,128.1,297.8,127.3,299z M143.7,271.8c-1.6,0-2.7,0.2-3.3,0.5c-0.6,0.3-1.1,1-1.5,2.1c-3,6.7-4.9,10.9-5.8,12.5
                                    c-0.3,0.6-0.5,1.1-0.5,1.5s0.2,0.8,0.7,1.1c0.4,0.3,0.9,0.5,1.5,0.5c1.7,0,4-1.2,7-3.5c2.2-1.7,3.9-3.5,5.3-5.4
                                    c1.4-1.9,2.1-3.6,2.3-5.1C149.5,273.3,147.7,271.9,143.7,271.8z M154.4,244.6c-1.7,0-3.3,0.3-5,0.8c-0.6,0.2-1,0.4-1.2,0.6
                                    c-0.2,0.2-0.3,0.6-0.4,1.3c-0.2,2-0.8,4.5-1.8,7.4c-1,3.3-1.7,5.2-2,5.7c-0.2,0.5-0.4,0.9-0.4,1.4c0,0.5,0.2,0.8,0.6,0.8
                                    c0.1,0,0.2-0.1,0.4-0.2c0.1-0.1,0.7-0.4,1.8-0.9c2.5-1.1,5.7-3.6,9.6-7.3c2.4-2.4,3.7-4.4,3.8-6c0.1-1.1-0.3-1.9-1.3-2.6
                                    C157.5,245,156.1,244.7,154.4,244.6z"/>
                                <path class="st4" d="M187.9,233.6c1.2-0.1,2.9,0.6,5.2,2.2c1.8,1.2,2.6,2.7,2.6,4.4c0,1.2-1,3.8-2.9,7.7
                                    c-7.3,16.2-13.1,32.1-17.5,47.6c-0.4,2.1-0.7,3.4-0.9,4c-0.2,0.6-0.5,1.1-0.9,1.4c-0.9,0.6-2.3,0.9-4.3,0.9
                                    c-0.9,0-1.7-0.2-2.1-0.5c-0.5-0.3-1.4-1.3-2.8-3c-1.1-0.9-1.7-1.4-1.9-1.7c-0.2-0.2-0.3-0.6-0.3-1c0-0.8,1.3-4.9,3.8-12.1
                                    c0.9-2.6,5.3-13.6,13.1-32.8c3.2-7.4,5.2-12.2,6.1-14.5c0.4-1,0.8-1.7,1.1-2C186.7,233.8,187.2,233.6,187.9,233.6z"/>
                                <path class="st4" d="M225.1,250.2l1.3-3.9c0.4-1.1,0.6-2,0.6-2.5c0-0.5-0.2-0.7-0.6-0.7c-0.3,0-1.2,0.5-2.7,1.4
                                    c-1.5,1-2.7,1.8-3.6,2.6c-7,6-12.5,14.1-16.3,24.3c-2.2,5.7-3.2,10.8-3.2,15.3c0,3.2,0.6,4.8,1.7,4.8c1,0,2.7-1,4.9-3.1
                                    c2.2-2.1,4.2-4.4,5.8-6.9c0.5-0.8,0.9-1.3,1.1-1.6c0.2-0.2,0.3-0.3,0.3-0.4c0-0.2-0.3-0.4-0.9-0.6c-1.2-0.5-2-1.2-2.5-2.1
                                    c-0.5-0.9-0.7-2.2-0.7-3.9c0-2.4,0.6-3.9,1.9-4.5c0.8-0.4,4-0.9,9.6-1.5c4.9-0.4,7.6-0.7,8.3-0.7c1.8,0,2.7,1.2,2.7,3.5
                                    c0,2.6-0.3,4.5-0.8,5.5c-0.5,1-1.5,1.6-2.8,1.8c-1.7,0.1-2.7,0.3-3,0.4c-0.3,0.1-0.5,0.5-0.5,1c0,0.2,0,0.4,0,0.7
                                    c0,0.4,0.1,0.8,0.1,1.1c0,2.4-0.2,4.2-0.7,5.3c-0.5,1.1-1.7,2.8-3.7,5.1c-3.3,3.7-6.6,6.6-9.8,8.7c-3.2,2.1-6.1,3.1-8.6,3.1
                                    c-3.4,0-6.7-1.2-9.8-3.7c-3.5-2.8-5.3-7-5.3-12.6c0-8.3,2.2-16.6,6.5-24.8c4.6-8.7,10.8-15.9,18.5-21.6c5.6-4.1,10.6-6.2,15-6.2
                                    c3,0,5.5,1,7.7,3c1,0.9,1.7,1.9,2,3c0.4,1.1,0.6,2.6,0.6,4.5c0,2.1-0.2,3.7-0.5,4.9c-0.3,1.2-0.9,2.3-1.7,3.5
                                    c-1.8,2.4-3.6,3.7-5.7,3.7c-1.6,0-3-0.3-4.2-0.9c-1.2-0.6-1.8-1.3-1.8-2C224.3,252.8,224.6,251.8,225.1,250.2z"/>
                                <path class="st4" d="M263.2,299l-1.1,1.8c-0.6,1-1.2,1.5-1.7,1.5s-1.9-1-4.2-2.9c-2.1-1.8-3.2-3.5-3.2-4.9c0-1.1,0.9-3.4,2.7-6.7
                                    c0.9-1.9,4.3-9.2,10-21.9c1-2.3,2.8-6.8,5.3-13.5c0.3-0.9,0.6-1.5,0.7-1.8c0.1-0.3,0.2-0.6,0.2-0.9c0-0.3-0.1-0.4-0.2-0.5
                                    c-0.1-0.1-0.5-0.2-1.2-0.2c-0.9-0.1-1.9-1-2.8-2.8c-1-1.8-1.5-3.5-1.5-5.1c0-0.9,0.1-1.6,0.4-2.1c0.3-0.5,0.8-0.9,1.6-1.3
                                    c2.2-1.1,5.4-2.1,9.6-2.9c4.2-0.8,8.2-1.2,11.9-1.2c5.6,0,9.6,1.6,12.1,4.8c2.5,3.2,3.7,6.9,3.7,11.1c0,2.5-0.8,5-2.4,7.3
                                    c-1.6,2.3-4.6,5.5-9.1,9.5c-0.8,0.7-1.2,1.2-1.2,1.6c0,0.2,0.2,0.6,0.5,1.1c1.9,3,2.9,5.4,2.9,7.2c0,2.2-0.9,4.9-2.7,8.1
                                    c-1.8,3.2-4.1,6.2-6.9,9.1c-3.1,3.2-6.5,5.6-10.3,7.3c-2.4,1.1-4,1.6-4.8,1.6c-1.3,0-3.3-1.5-6.1-4.4c-0.4-0.4-0.7-0.7-1-0.7
                                    C264.4,297.2,263.9,297.8,263.2,299z M279.5,271.8c-1.6,0-2.7,0.2-3.3,0.5c-0.6,0.3-1.1,1-1.5,2.1c-3,6.7-4.9,10.9-5.8,12.5
                                    c-0.3,0.6-0.5,1.1-0.5,1.5s0.2,0.8,0.7,1.1c0.4,0.3,0.9,0.5,1.5,0.5c1.7,0,4-1.2,7-3.5c2.2-1.7,3.9-3.5,5.3-5.4
                                    c1.4-1.9,2.1-3.6,2.3-5.1C285.4,273.3,283.5,271.9,279.5,271.8z M290.2,244.6c-1.7,0-3.3,0.3-5,0.8c-0.6,0.2-1,0.4-1.2,0.6
                                    c-0.2,0.2-0.3,0.6-0.4,1.3c-0.2,2-0.8,4.5-1.8,7.4c-1,3.3-1.7,5.2-2,5.7c-0.2,0.5-0.4,0.9-0.4,1.4c0,0.5,0.2,0.8,0.6,0.8
                                    c0.1,0,0.2-0.1,0.4-0.2c0.1-0.1,0.7-0.4,1.8-0.9c2.5-1.1,5.7-3.6,9.6-7.3c2.4-2.4,3.7-4.4,3.8-6c0.1-1.1-0.3-1.9-1.3-2.6
                                    C293.3,245,291.9,244.7,290.2,244.6z"/>
                                <path class="st4" d="M327.8,232.8c0.7,0,1.3,0.3,1.9,0.8c0.6,0.5,1.8,1.9,3.6,4.1c0.8,1,1.4,1.5,2,1.5c0.2,0,0.7-0.2,1.3-0.6
                                    c1.5-0.9,2.4-1.3,2.7-1.3c1.2,0,2.4,2,3.5,5.9c1.1,3.9,1.7,8,1.7,12.3c0,8.6-2.7,17.6-8,27c-4.4,7.7-9.4,13.4-15,17.1
                                    c-3.5,2.3-6.6,3.4-9.3,3.4c-3.8,0-7.2-2-10.2-6c-2.5-3.4-3.7-7.3-3.7-11.9c0-6,1.4-12.7,4.1-19.9c2.8-7.2,6.3-13.5,10.6-18.9
                                    c3.1-3.8,6.1-7,8.9-9.6C324.6,234.2,326.6,232.9,327.8,232.8z M329.5,246.3c-0.6-0.1-1.8,0.9-3.5,2.9c-1.7,2-3.5,4.5-5.4,7.4
                                    c-3.4,5.4-6,10.7-7.9,16c-1.9,5.3-2.8,10.2-2.8,14.6c0,3.4,0.7,5,2.2,5s3.3-1.3,5.6-3.9c2.3-2.6,4.6-6.2,7.1-10.7
                                    c5.3-9.8,8-17.9,8-24.3c0-2.5-0.5-4.4-1.4-5.7C330.7,246.8,330,246.4,329.5,246.3z"/>
                                <path class="st4" d="M352.9,232.6c0.7,0,1.5,0.2,2.3,0.6c0.8,0.4,2,1.2,3.7,2.4c2.1,1.5,3.2,2.8,3.2,4c0,0.5-0.1,1.2-0.3,2
                                    c-1.1,4.5-1.6,9.6-1.6,15.4c0,2,0.1,3.8,0.3,5.4c0.2,1.5,0.5,2.3,0.7,2.3c0.1,0,0.3-0.2,0.6-0.5c0.2-0.2,0.6-0.7,1.2-1.4
                                    c1.9-2.2,4.9-6.5,9-12.9c4.1-6.4,6.9-11.2,8.4-14.4c1-2.2,2-3.3,3-3.3c0.4,0,1.1,0.2,2.1,0.7c1,0.5,1.8,1,2.3,1.4
                                    c1.3,1.2,2,2.9,2,5.3c0,3.9-5,12.5-14.9,25.9c-8.9,12-17.4,22.6-25.5,32c-2.6,3-4.2,4.9-4.8,5.4c-0.6,0.6-1.3,0.8-2,0.8
                                    c-1.1,0-2.7-1-4.6-3.1c-2-2.1-3-3.7-3-4.8c0-1.2,1.3-3.1,4-5.5c1.9-1.7,4.9-4.8,8.9-9.3c4-4.5,6-7,6-7.4c0-0.2-0.5-0.5-1.6-0.8
                                    c-1.3-0.4-2.2-1.8-2.8-4.4c-0.6-2.5-0.9-6.5-0.9-11.8c0-2.7,0.2-6.3,0.5-10.7c0.3-4.4,0.6-7.5,1-9.4c0.3-1.8,0.6-3,0.9-3.4
                                    C351.4,232.8,352,232.6,352.9,232.6z"/>
                                <path class="st4" d="M397.8,232.8c0.8,0,2.1,0.5,3.9,1.4c1.9,0.9,3.1,1.7,3.7,2.3c0.6,0.6,0.9,1.4,0.9,2.3c0,1.9-0.7,4.1-2.1,6.5
                                    c-1.4,2.4-3,4.3-4.8,5.7c-2,1.4-3.6,2.2-5,2.2c-0.7,0-1-0.3-1-0.8c0-0.2,0.2-0.6,0.5-1c1.2-1.7,1.9-2.9,1.9-3.8
                                    c0-0.5-0.4-1-1.2-1.6c-1.5-1.1-2.2-2.3-2.2-3.8c0-0.9,0.3-2.2,0.8-3.8c0.6-1.6,1.2-3,1.8-4.1
                                    C395.8,233.3,396.7,232.8,397.8,232.8z"/>
                                <path class="st4" d="M431.8,243.5c-0.8,0-2.7,0.9-5.7,2.6c-2.8,1.7-5.1,3.5-6.8,5.5c-1.7,1.9-2.6,3.6-2.6,5c0,1,0.4,2,1.1,2.8
                                    c0.7,0.8,2.6,2.5,5.7,5c4.6,3.8,6.9,8.7,6.9,14.6c0,7.3-3.3,13.2-9.9,17.8c-5.4,3.7-10.9,5.6-16.6,5.6c-3.3,0-6.1-1-8.5-3.1
                                    c-1.9-1.7-2.9-3.4-2.9-5.3c0-1.5,0.9-3.4,2.6-5.4c1.7-2.1,3.2-3.1,4.5-3.1c1,0,1.9,0.8,2.4,2.4c0.5,1.3,0.9,2.2,1.4,2.6
                                    c0.5,0.4,1.1,0.7,1.9,0.7c2.1,0,4.8-1,8.2-3c1.7-1,3.1-2.2,4.2-3.7c1.1-1.5,1.7-2.8,1.7-4.1c0-1-0.4-2-1.1-3
                                    c-0.8-1-2.2-2.3-4.3-3.9c-2.9-2.2-4.9-4.5-6.2-6.8c-1.3-2.3-1.9-4.9-1.9-7.8c0-4.1,0.9-7.6,2.6-10.7c1.7-3,4.4-5.7,8-8
                                    c6.8-4.4,13.4-6.5,19.6-6.5c3.6,0,6.2,0.9,7.8,2.7c1.5,1.5,2.2,3.3,2.2,5.3c0,2.1-1.2,4.6-3.5,7.3c-1.2,1.5-2.2,2.6-2.9,3.3
                                    c-1.9,2.5-3.1,3.7-3.7,3.6l-2.3-0.4c-2.7-0.4-4.3-0.7-4.7-0.9c-0.8-0.3-1.2-1-1.2-1.9c0-1.4,1.3-3.8,3.9-7
                                    c0.4-0.6,0.7-1.1,0.7-1.6C432.4,243.7,432.2,243.5,431.8,243.5z"/>
                            </g>
                            <path id="_xAE__7_" class="st5" d="M469.2,230c-2-1.9-4.4-2.7-7.1-2.6c-2.6,0.1-4.8,1.1-6.7,2.9c-2,2-2.9,4.4-2.8,7.3
                                c0.1,2.8,1.2,5.1,3.1,6.9c2,1.8,4.4,2.7,7.1,2.6c2.7-0.1,5-1.1,6.8-3.1c1.9-2,2.8-4.4,2.7-7.2C472.2,234.2,471.2,231.9,469.2,230z
                                 M468.4,242.9c-1.5,1.7-3.4,2.5-5.6,2.6c-2.2,0.1-4.2-0.6-5.8-2.2c-1.7-1.5-2.5-3.4-2.6-5.7c-0.1-2.2,0.6-4.1,2.1-5.8
                                c1.5-1.7,3.4-2.6,5.7-2.7c2.2-0.1,4.2,0.7,5.8,2.2c1.6,1.6,2.5,3.4,2.6,5.6C470.6,239.2,469.9,241.2,468.4,242.9z M467,242.1
                                c0-0.1,0-0.2,0-0.3l0-1c0-1.1-0.3-2-1-2.5c-0.4-0.3-0.9-0.5-1.6-0.6c0.8-0.1,1.4-0.3,1.9-0.7c0.5-0.4,0.8-1.1,0.8-2
                                c0-1.2-0.5-2.1-1.5-2.6c-0.6-0.3-1.3-0.5-2.2-0.6c-0.1,0-1.6,0-3,0h-2.3v10.9h2.9v-3.9l0.6,0l0.6,0c0.4,0,0.8,0.1,1,0.2
                                c0.4,0.2,0.7,0.4,0.8,0.8c0.1,0.2,0.2,0.7,0.2,1.4c0,0.6,0.1,1.1,0.2,1.5h2.8l-0.1-0.3C467,242.3,467,242.2,467,242.1z
                                 M463.6,236.5c-0.4,0.3-0.9,0.4-1.6,0.4l-1.1,0l0-3.2l0.7,0c0.7,0,1.3,0.1,1.7,0.2c0.6,0.2,0.9,0.6,0.9,1.2
                                C464.2,235.8,464,236.3,463.6,236.5z"/>
                        </g>
                    </g>
                    <g id="Email">
                        <g id="Layer_4" class="st6">
                            <text transform="matrix(0.7879 -7.799628e-02 9.851000e-02 0.9951 146.073 497.2734)" class="st7 st2 st8">E</text>
                            <text transform="matrix(1.0111 -0.1587 0.1551 0.9879 227.4772 467.2469)" class="st7 st2 st9">mail</text>
                        </g>
                        <g>
                            <g>
                                <path class="st10" d="M176.5,421.9c-1.8,0.2-5.2,10-10.4,29.4c-2.4,9.1-3.6,14.9-3.5,17.5c0,1.5,1,2,2.8,1.6
                                    c2.7-0.6,7.4-2.3,14.3-5.2c6.8-2.9,12-5.4,15.4-7.5c1.9-1.1,3.3-1.8,4.2-2c1.7-0.4,3.3,0.2,4.8,1.8c1.5,1.5,2.3,3.3,2.4,5.5
                                    c0.1,2-0.4,4.5-1.5,7.5c-1,3-2.3,5.2-3.7,6.8c-2.7,3.1-9.3,7-19.9,11.9c-10.6,4.8-19.7,8-27.4,9.6c-5.7,1.2-10.2,0-13.3-3.5
                                    c-3.1-3.4-4.7-7.4-4.9-12c-0.2-5.3,1.1-14,3.7-26.3c2.6-12.2,5.8-24.1,9.6-35.6c8.2-24.6,14.7-41.2,19.5-49.8
                                    c1-1.8,1.5-3.1,1.5-4c0-0.5-0.4-1.2-1-2.2c-1.7-2.8-2.8-5-3.4-6.7c-0.5-1.7-0.8-4.3-0.9-7.9c-0.1-3.9,0.4-6.9,1.5-9
                                    c1.1-2.1,3.2-3.9,6.2-5.5c5-2.6,11.3-5.2,18.7-7.9c7.4-2.7,13.7-4.6,18.8-5.6c5.5-1.1,9.2-1.6,11.2-1.4c2,0.2,3.6,1.2,4.9,2.9
                                    c1.7,2.4,3.3,5.4,4.8,9.1c1.5,3.6,2.3,6.3,2.3,8.1c0.1,1.7-0.7,2.7-2.4,3.1c-0.6,0.1-1.9,0.3-3.7,0.4c-0.8,0.1-1.9,0.3-3.5,0.6
                                    c-12.1,2.5-19.8,4.7-22.9,6.5c-1.2,0.7-2.5,2.7-4.1,6.2c-1.5,3.5-3.8,9.8-6.9,19c-3.2,9.6-4.7,15-4.7,16.3c0,0.9,0.4,1.3,1.1,1.1
                                    c0.2,0,0.5-0.1,0.8-0.2c3-0.9,7.1-2,12.6-3.1c7.7-1.6,11.7,2.1,12,11c0.1,3.6-0.4,6.2-1.7,8c-1.2,1.8-3.6,3.4-7.1,4.8
                                    c-7.4,2.9-14.4,5.1-20.9,6.4c-2.3,0.5-3.8,0.7-4.5,0.6C177,421.9,176.7,421.9,176.5,421.9z"/>
                            </g>
                            <g>
                                <path class="st10" d="M247.4,422.2l-10.6,37.5c-1.6,5.9-2.9,9.8-3.8,11.5c-0.9,1.7-2,2.8-3.5,3.1c-1.3,0.3-4.6-0.9-9.9-3.7
                                    c-4.2-2.2-6.4-4.8-6.5-7.6c-0.1-2.1,1.4-7.8,4.4-16.9c8.3-24.9,13.3-40.7,15.1-47.3c5-18.7,7.8-29.2,8.4-31.7
                                    c1-4.5,2.6-7,4.8-7.5c1.8-0.4,5.1,0.2,9.9,1.9c3.5,1.2,5.3,2.9,5.4,5c0,0.9-0.2,2.2-0.6,3.9c-0.5,2.4-0.8,3.7-0.7,4.2l0.1,0.7
                                    l1.6-1.4c4.7-5.2,8.3-8.7,10.8-10.6c2.5-1.9,5-3.2,7.6-3.8c3.9-0.9,7.5,0.1,10.8,2.9c0.8,0.7,2.3,3.6,4.6,8.8
                                    c0.4,1,0.8,1.4,1.3,1.3c0.2,0,0.6-0.5,1.2-1.4c1.4-2,5.4-5.5,11.8-10.6c3.8-3,6.7-4.7,8.9-5.2c5.9-1.3,10.7,0.9,14.6,6.7
                                    c2.3,3.5,3.6,7.6,3.8,12.3c0.2,6.1-0.9,15.2-3.4,27.2c-2.5,12-5.5,23.2-9.1,33.5c-4.3,12.4-7,19.7-8,21.8c-1,2.2-2.2,3.4-3.7,3.7
                                    c-0.6,0.1-2.9-0.7-6.7-2.6c-4.1-1.1-6.7-2.1-7.9-2.9c-1.1-0.8-1.7-2.2-1.8-4.2c-0.1-2.2,1.3-6.6,4.1-13c4.4-9.9,7.9-20,10.6-30.3
                                    c3.2-12.3,4.7-20.1,4.6-23.2c-0.1-2.4-1.3-3.4-3.7-2.9c-3.3,0.7-7.8,4.1-13.6,9.9c-2,2-3.3,3.7-4,4.9c-0.7,1.2-1.3,3-1.9,5.4
                                    c-0.7,3.3-2.8,11.2-6.1,23.6c-3.3,12.4-5.6,20.7-6.9,24.8c-1.9,6-3.4,9.8-4.5,11.5c-1.1,1.7-2.9,2.8-5.4,3.3
                                    c-2.8,0.6-5.9-0.2-9.2-2.5c-3.3-2.3-5-4.8-5.2-7.5c-0.1-1.6,1.4-6.2,4.5-13.8c3.3-8.2,6.4-17.6,9.3-28.1
                                    c2.9-10.5,4.3-17.4,4.1-20.8c-0.1-2.5-1.1-3.5-3.1-3.1c-1.6,0.4-4.2,2-7.6,5c-3.4,3-6.2,6-8.3,8.9c-1.3,1.7-2.3,3.5-2.9,5.3
                                    C251,410,249.6,414.6,247.4,422.2z"/>
                                <path class="st10" d="M383,421.9c-0.4,0-1.4,0.9-3,2.5c-8.8,9.1-16.3,14.3-22.3,15.7c-3.9,0.9-7.6-0.6-11.1-4.4
                                    c-4.2-4.5-6.5-10.8-6.8-18.6c-0.5-12,2.5-24.9,8.9-38.7c6.4-13.8,17.7-27.7,34-41.7c7.6-6.5,12.5-10,14.5-10.5
                                    c1.1-0.2,2.5,0.2,4.3,1.3c1.8,1.1,3.2,2.4,4.2,4c0.8,1.1,1.3,1.6,1.6,1.5c0.3-0.1,1.7-2.8,4.3-8.2c2-4.2,3.8-6.5,5.4-6.8
                                    c1.1-0.2,2.8,0,5.2,0.7c2.4,0.7,4.2,1.6,5.3,2.6c2.4,2,3.7,4.5,3.8,7.5c0.1,1.5-0.6,3.9-2.1,7.1c-5,10.9-8.9,20.9-11.8,30
                                    c-2.9,9.2-5.2,19.2-7.1,30.1c-2.4,14.6-3.4,24.3-2.9,29.3c0.2,3-0.2,5.1-1.1,6.5c-0.9,1.3-2.6,2.3-5.2,2.8
                                    c-4.7,1-8.7,0.9-12.2-0.3c-3.5-1.2-5.2-3.2-5.4-5.8c0-0.6,0-1.3,0-2.1c0.1-1.3,0.1-2.4,0.1-3.3
                                    C383.6,422.3,383.4,421.9,383,421.9z M400.7,349.4c-1.8,0.3-5,2.6-9.3,6.7c-4.4,4.1-8.3,8.4-11.8,13c-4.4,5.9-8.3,13.2-11.7,22.1
                                    c-3.4,8.8-5,15.7-4.8,20.5c0.1,2.1,0.8,3,2.2,2.6c1.5-0.3,4.1-2,7.8-5.1c3.7-3.1,7-6.3,9.9-9.6c1.8-2.1,3-3.9,3.6-5.4
                                    c0.6-1.4,1.8-5.5,3.7-12.2c2.5-9,5.9-18.9,10.3-29.8c0.5-1.1,0.7-1.8,0.7-2.2C401.2,349.5,401,349.3,400.7,349.4z"/>
                                <path class="st10" d="M451.3,319.8c4,0.4,6.4,0.8,7.2,1.1c0.8,0.3,1.8,1.3,2.9,2.8c1.9,2.8,2.9,5,2.9,6.7
                                    c0.1,2.5-1.1,6.7-3.7,12.7c-9.2,20.2-17.8,47.1-25.6,80.7c-0.5,3.4-1.5,5.3-3,5.6c-1.1,0.2-2.3-0.1-3.7-1.1
                                    c-1.7-1.2-2.8-1.9-3.2-2c-0.5-0.1-1.9-0.2-4.4-0.3c-4.2-0.1-6.4-1.9-6.5-5.5c-0.2-6.2,6.3-26.9,19.5-62.2
                                    c5.1-13.6,8.9-23.2,11.5-28.9C448,323.7,449.9,320.5,451.3,319.8z M463.8,269.7c0.8-0.2,1.5-0.2,2.3,0.1c0.8,0.3,3,1.4,6.7,3.4
                                    c2.7,1.4,4.4,2.5,5.2,3.3c0.8,0.8,1.2,1.8,1.1,3.1c0,1.3-1.3,4.6-4,10c-1.1,2.2-2.1,4.7-3,7.6c-1.3,4.1-3.1,6.4-5.4,6.9
                                    c-2.8,0.6-5.7-0.3-8.7-2.7c-3-2.4-4.6-5-4.7-7.8c-0.1-2.6,1.5-8.1,4.7-16.4C459.8,272.8,461.7,270.3,463.8,269.7z"/>
                                <path class="st10" d="M506.9,263.6c2.8-0.6,5.6,0.5,8.2,3.5c2.6,2.9,3.9,4.8,4,5.7c0,0.9-0.4,2.4-1.4,4.4
                                    c-7.4,17.8-14.9,37.7-22.5,59.7c-3.1,9.1-6.8,21.8-11,38.2c-4.2,16.4-7,29-8.4,37.7c-0.7,4.5-2.2,7-4.5,7.5
                                    c-1,0.2-3.3-0.5-6.9-2.2c-4-0.3-6.4-0.7-7.3-1.4c-2.1-1.7-3.3-4.1-3.4-7.3c-0.1-2.6,0.4-5.9,1.5-9.9c1.1-4,4.8-16.5,11.2-37.3
                                    c8.9-29,18-55.6,27.2-79.8c2.5-6.6,4.7-11.3,6.6-13.9C502.1,265.9,504.3,264.3,506.9,263.6z"/>
                            </g>
                        </g>
                    </g>
                    <g id="Club">
                        <text transform="matrix(0.9999 -0.2268 6.473000e-02 0.9979 269.3012 593.1176)" class="st11 st2 st12">Club</text>
                        <g>
                            <path class="st13" d="M319.7,499.2l1.7-5.3c0.9-3.3,1.3-5.3,1.2-6c-0.1-1.3-0.7-1.8-1.9-1.5c-1.2,0.3-3.4,2.8-6.7,7.5
                                c-3.3,4.8-6.3,9.7-8.9,14.9c-4.3,8.4-7.6,17.6-9.8,27.4c-2.3,9.8-3.1,18.7-2.6,26.6c0.2,2.6,0.7,4.3,1.6,5.2
                                c0.9,0.9,2.4,1.1,4.3,0.7c5-1.1,11-4.5,18.1-10.1c3.1-2.5,5-3.8,5.6-3.9c2-0.5,3.2,1.3,3.4,5.3c0.2,2.7-0.6,5.5-2.4,8.5
                                c-1.8,3-4.2,5.7-7.4,8.2c-2.5,1.9-5.6,3.7-9.4,5.5c-3.8,1.8-7.1,3-9.9,3.7c-3.2,0.7-6.3,0.7-9.6-0.1c-3.2-0.8-6-2.1-8.3-4.2
                                c-4.1-3.6-6.4-9.2-6.9-16.8c-0.7-10.8,1.4-23.4,6.4-37.9c6.3-18.4,14.8-33.1,25.6-44c6.8-6.8,13.7-11.1,20.7-12.6
                                c5-1.1,8.7-0.8,11.3,1.1c2.5,1.8,4,5.2,4.3,10.2c0.5,7.5-0.6,13.4-3.4,17.7c-2.7,4.1-6.3,6.6-10.8,7.6c-2,0.5-3.8,0.4-5.2-0.1
                                c-1.4-0.5-2.2-1.4-2.3-2.6C318.4,503.7,318.8,502,319.7,499.2z"/>
                            <path class="st13" d="M365.9,460.6c2.1-0.5,4.3,0.4,6.3,2.5c2,2.1,3.1,3.6,3.1,4.2c0,0.7-0.3,1.8-1,3.3
                                c-5.3,13.3-10.7,28.2-16.1,44.6c-2.2,6.8-4.8,16.3-7.7,28.5c-2.9,12.2-4.8,21.6-5.7,28.2c-0.5,3.4-1.6,5.2-3.3,5.6
                                c-0.7,0.2-2.5-0.3-5.3-1.6c-3-0.2-4.9-0.5-5.6-1c-1.7-1.2-2.6-3-2.7-5.4c-0.1-1.9,0.2-4.4,0.9-7.4c0.8-3,3.4-12.3,7.8-27.9
                                c6.3-21.7,12.7-41.6,19.3-59.7c1.8-5,3.4-8.4,4.8-10.4S364,461.1,365.9,460.6z"/>
                            <path class="st13" d="M390.5,558c-0.2,0-0.4,0.2-0.6,0.5c-2.5,2.6-5.4,5.1-8.6,7.3c-3.2,2.2-5.9,3.6-7.9,4.1c-3.8,0.9-7,0-9.6-2.6
                                c-1.6-1.5-2.9-3.5-4.1-5.9c-1.2-2.4-1.8-4.6-2-6.6c-0.4-5.9,4.7-22.5,15.4-50c2.5-6.4,4.4-10.6,5.7-12.7c1.3-2,2.9-3.3,4.8-3.7
                                c1.1-0.2,1.9-0.3,2.5-0.1c0.6,0.2,2.1,0.9,4.5,2.2c2,0.8,3.1,1.3,3.4,1.6c0.3,0.3,0.5,0.8,0.6,1.5c0.1,1-1.1,4-3.5,9.2
                                c-3.8,8.2-7.2,17-10.2,26.4c-3,9.4-4.3,15.7-4.1,19c0.2,2.5,1.2,3.5,3.1,3c1-0.2,1.8-0.6,2.4-1c0.6-0.4,2.1-1.8,4.7-4.1
                                c2.8-2.3,4.3-3.7,4.7-4.2c0.3-0.5,0.7-1.6,1.1-3.5c0.4-2.3,2.2-7.8,5.1-16.3c3-8.6,5.9-16.4,8.8-23.6c2.9-7.3,4.7-11.6,5.3-12.9
                                c0.7-1.3,1.5-2,2.5-2.2c1.5-0.4,3.6,0.4,6.3,2.1c2.6,1.8,4,3.4,4.1,4.8c0.1,1.1-2.1,8.3-6.7,21.5c-3.8,10.7-6.2,17.7-7.1,20.9
                                c-0.9,3.2-1.6,6.8-2.1,10.8c-0.4,2.8-0.6,6.3-0.8,10.3c-0.2,4-0.2,6.8-0.1,8.6c0.2,2.5-0.7,4-2.5,4.4c-0.8,0.2-2.3,0.2-4.4,0
                                c-2.1-0.2-4-0.4-5.5-0.8c-2.2-0.5-3.5-1.9-3.8-4.1C391.6,559.3,391.1,558,390.5,558z"/>
                            <path class="st13" d="M440.4,552.1l-3.7-2.9c-1.9-1.6-3-2.4-3.2-2.3c-0.2,0-1,2-2.3,5.8c-1,2.9-2.1,4.5-3.4,4.7
                                c-1.2,0.3-3.7-0.6-7.4-2.5c-3.2-1.7-4.9-3.5-5-5.4c-0.1-1.9,1.2-6.5,3.9-13.8c5.4-14.7,9.1-24.9,11.1-30.8
                                c1.9-5.8,4.2-13.5,6.7-23c4.9-18,7.9-30.2,9.3-36.4c0.7-3.3,1.7-5.1,3.2-5.4c1.2-0.3,3.7,0.3,7.4,1.9c2.7,1.1,4.2,2.9,4.3,5.3
                                c0.1,1.8-0.1,4.1-0.6,6.7c-0.5,2.7-1.9,8.2-4,16.6c-0.8,3.1-1.3,5.1-1.5,6c-0.3,1.6-0.6,2.8-0.8,3.3c-0.1,0.4-0.2,0.7-0.2,0.9
                                c0,0.5,0.2,0.7,0.4,0.6c0.2,0,0.4-0.2,0.6-0.6c0.1-0.1,2.1-1.9,6.1-5.4c2.5-2.1,4.5-3.4,6-3.7c3.7-0.8,7.3,1.2,10.6,6
                                c2.6,3.7,4,8,4.3,12.8c0.3,5.3-1.1,11.8-4.2,19.5c-3.1,7.7-7.6,15.7-13.5,24c-3.9,5.5-7.7,10.3-11.3,14.2c-3.6,3.9-6.1,6-7.6,6.4
                                C444.6,554.8,442.8,553.9,440.4,552.1z M462.7,490c-2.1,0.5-5.5,2.5-10,6c-1.5,1.2-2.5,2-2.8,2.4c-0.3,0.4-0.6,1.1-0.9,2.1
                                c-3.3,11.4-6.5,21.1-9.7,29.1c-1.3,3.4-1.9,5.3-1.9,5.6c0,0.5,0.4,0.7,1.2,0.5c5-1.1,10.6-6.3,16.8-15.7c2.9-4.3,5.5-9.3,7.9-15
                                c2.4-5.7,3.7-9.9,3.7-12.4C467,490.4,465.6,489.5,462.7,490z"/>
                        </g>
                    </g>
                    </svg>
                    
            </div>

            <div class="form-container">
                <div class="big-boy">
                    <div class="big-boy-container">
                        <div class="boy"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-boy.svg?v=1682382250">  </div>
                        <div class="arm"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-arm.svg?v=1682382250">  </div>
                    </div>
                </div>

                <div v-if="sent" class="form animate__animated animate__jello">
                    <h1>Thanks!</h1>
                </div>

                <div v-else class="form animate__animated animate__zoomIn">
                    <h1>Join Now!</h1>
                    <div v-if="!email.sending">

                        <div class="name">

                            <input v-model="firstName" 
                            type="text" 
                            placeholder="First Name"/>

                            <input v-model="lastName" 
                                type="text" 
                                placeholder="Last Name"/>
                        </div>

                        <div class="email" 
                            :class="{'error': !email.valid}">

                            <div class="email-container">

                                <input v-model="email.address" 
                                    id="email"  
                                    type="email" 
                                    placeholder="Email"
                                    v-on:keyup.enter="addEmail()"
                                    @focus="resetEmail()"/>

                                <div class="submit_btn" 
                                    @click="addEmail()"> 
                                    Submit
                                </div>

                            </div>

                        </div>

                    </div>
                    <div v-if="email.sending" class="sending"> Sending... </div>
                </div>
            
            </div>
           
            <div class="bg animate__animated animate__jello">
                <div class="star green"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-green.svg?v=1681859802"> </div>
                <div class="star orange"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-orange.svg?v=1681859802"> </div>
                <div class="star rose"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-rose.svg?v=1681859802"> </div>
                <div class="star jap"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-pink-star.svg?v=1681859802"> </div>
            </div>

        </div>

    </div>
</div>



<script src="{{ 'vue@3.0.11.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'landing-social.js' | asset_url }}" defer="defer"></script>