
{% style %}

      @font-face {
        font-family: "AvenirNextLTPro-Medium";
        src: url( {{- 'font-avenir-next_light.eot' | asset_url -}} );
        font-weight: normal;
        font-style: normal;
      }
    
      @font-face {
        font-family: "AvenirNextLTPro-Bold";
        src: url(  {{- 'font-avenir-next_medium.eot' | asset_url -}} );
        font-weight: normal;
        font-style: normal;
      }



{% endstyle %}

{{ 'animate.min.css' | asset_url | stylesheet_tag }}
{{ 'landing-hv.css' | asset_url | stylesheet_tag }}

<!-- start app -->
<div id="app">
    <!-- start container -->
    <div class="landing-container-hv">


        <div v-if="ready" class="page-continaer-hv">

            <!-- TITLE  -->
            <div class="title">
                <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/header.png?v=1727048988" width="100%" height="auto">
            </div>
            <!-- BODY -->

            <!-- FORM -->
            <div class="form-container animate__animated animate__jello animate__delay-1s">
        
                <!-- Thanks -->
                <div v-if="formState.thanks" class="message animate__animated animate__jello">
                    <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/thanks.svg?v=1716235513" width="100%" height="auto">
                    <p>${formState.message}</p>
                </div>

                <!-- Verify -->
                <div v-if="formState.verify" class="message animate__animated animate__jello">
                    <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/verify.svg?v=1717534371" width="100%" height="auto">
                    <p>${formState.message}</p><div class="fit"><h2>${email.address}</h2></div> <p>Please click on the link in the email to verify your address.</p>
                    <p class="resend" @click="verifyEmail()">Didn’t get email? Check your spam or <span>click here to resend.</span></p>
                </div>

                <!-- Error -->
                <div v-if="formState.error" class="message animate__animated animate__jello">
                    <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/error.svg?v=1717622663" width="100%" height="auto">
                    <p>${formState.message}</p>
                </div>

                <!-- Form -->
                <div v-if="formState.form" class="form animate__animated animate__zoomIn animate__delay-1s">
                   
                    <img v-if="!email.sending" src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/enter-to-win.svg?v=1716234879" width="100%" height="auto">
                    <div v-if="!email.valid" class="error_msg">Please enter a valid e-mail.</div>
                    <div v-if="!email.sending">

                      <!--  <p>Get a free limited-edition-hv Anniversary Postcard mailed from Big Boy directly to you!</p> -->

                        <div class="name">

                            <input v-model="firstName" 
                            type="text" 
                            placeholder="First Name"/>

                            <input v-model="lastName" 
                                type="text" 
                                placeholder="Last Name"/>
                        </div>

                        <div class="email" 
                            :class="{'error': !email.valid}">

                            <div class="email-container">

                                <input v-model="email.address" 
                                    id="email"  
                                    type="email" 
                                    placeholder="Email"
                                    v-on:keyup.enter="addEmail()"
                                    @focus="resetEmail()"/>

                                    <div class="subscribe"
                                        :class="{'error': !subscribe}">
                                        <input v-model="subscribe" type="checkbox" @click="subscribe = !subscribe"/> 
                                        <span v-if="subscribe">I agree to receive occasional emails from Bob's Big Boy Burbank.</span>
                                        <span v-else>You have to subscribe to enter the contest.</span>
                                    </div>

                                <div class="submit_btn" 
                                    @click="verifyEmail()"> 
                                    <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/submit.svg?v=1716234878" width="100%" height="auto">
                                </div>

                          
                            </div>

                        </div>

                    </div>

                    <!-- sending -->
                    <div v-if="email.sending" class="sending">
                        <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/sending.svg?v=1716235513" width="100%" height="auto">
                    </div>
                </div>

            
            </div>

            <div v-if="showGame" class="game-container">
              
           
            </div>
          

        <!-- end page container -->
        </div>

    <!-- end container -->
    </div>
<!-- end app -->
</div>




<script src="{{ 'vue@3.4.27.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'landing-hv.js' | asset_url }}" defer="defer"></script>