
{% style %}

    @font-face {
        font-family: "AvenirNextLTPro-Medium";
        src: url( {{- 'font-avenir-next_light.eot' | asset_url -}} );
        src: url(  {{- 'font-avenir-next_light.woff2' | asset_url -}} ) format("woff2"), 
        url( {{- 'font-avenir-next_light.woff' | asset_url -}} ) format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap; 
      }
    
      @font-face {
        font-family: "AvenirNextLTPro-Bold";
        src: url(  {{- 'font-avenir-next_medium.eot' | asset_url -}} );
        src: url( {{- 'font-avenir-next_medium.otf' | asset_url -}} ) format("opentype"), 
         url( {{- 'font-avenir-next_medium.ttf' | asset_url -}} ) format("truetype"), 
         url( {{- 'font-avenir-next_medium.woff2' | asset_url -}} ) format("woff2"), 
         url( {{- 'font-avenir-next_medium.woff' | asset_url -}} ) format("woff");
         font-weight: normal;
         font-style: normal;
         font-display: swap; 
      }


      @font-face {
        font-family: 'Harvard';
        src: url( {{- 'font-filmotype-harvard.eot' | asset_url -}} );
        src: url(  {{- 'font-filmotype-harvard.woff2' | asset_url -}}) format('woff2'),
        url(  {{- 'font-filmotype-harvard.woff' | asset_url -}}) format('woff');
        font-weight: normal;
        font-style: normal; 
        font-display: swap; 
      }

{% endstyle %}

{{ 'animate.min.css' | asset_url | stylesheet_tag }}
{{ 'landing-hv.css' | asset_url | stylesheet_tag }}

<!-- start app -->
<div id="app">
    <!-- start container -->
    <div class="landing-container-hv">
       <!-- TITLE  -->
       <div class="title animate__animated animate__bounceIn"></div>

        <div v-if="ready" class="page-continaer-hv">

            <!-- FORM -->
            <div class="form-container">


               <!------- this is where the game would go if it were implemented -------->
               <div v-if="game" class="game-container">

                <div class="puzzle-header">
                    <!-- COUNTDOWN -->
                    <div id="countdown"class="animate__animated animate__bounceIn" :style="{ display: gameActive ? 'block' : 'none' }">${ timeLeft }</div>

                    <!-- WIN ALERT -->
                    <h2 id="win" class="animate__animated animate__bounceIn" v-if="showWinAlert">You Win!</h2>

                    <!-- LOOSE ALERT -->    
                    <h2 id="loose" class="animate__animated animate__bounceIn" v-if="showLooseAlert">Time's up! Try again.</h2>
                </div>

                <!-- PUZZLE -->
                <div id="puzzle" class="animate__animated animate__swing" ref="puzzle">
                    
                    <div
                      v-for="(piece, index) in pieces"
                      :key="piece.order"
                      class="piece"
                      :class="{ active: piece === activePiece }"
                      :style="getPieceStyle(piece)"
                      @click="handlePieceClick(piece)"
                    ></div>


                    <!-- Play Again -->
                    <div v-if="showWinAlert" id="shuffleBtn" class="svg-btn" @click="playAgain" :style="{ display: gameActive ? 'none' : 'block' }">
                        <img :src="playBtnLabel" alt="Enter" width="100%" height="auto"> 
                    </div>
                    
                    <!-- START GAME -->
                    <div v-else id="shuffleBtn" class="svg-btn" @click="startGame" :style="{ display: gameActive ? 'none' : 'block' }">
                        <img :src="playBtnLabel" alt="Enter" width="100%" height="auto"> 
                    </div>


                  </div>

   
            </div>
        
                <!-- Thanks -->
                <div v-if="formState.thanks" class="message animate__animated animate__jello">
                    <h1>Verified!</h1>
                    <p>${formState.message}</p>
                    <div class="svg-btn" 
                        @click="initGame()"> 
                        <img :src="btnGraphics.play" alt="Play" width="100%" height="auto"> 
                    </div>
                </div>

                <!-- Verify -->
                <div v-if="formState.verify" class="message animate__animated animate__jello">
                    <h1>Verify</h1>
                    <p>${formState.message}</p><div class="fit"> ${email.address} </div> <p>Please click on the link in the email to verify your address.</p>
                    <p class="resend" @click="verifyEmail()">Didn't get email? Check your spam or <span>click here to resend.</span></p>
                </div>

                <!-- Error -->
                <div v-if="formState.error" class="message animate__animated animate__jello">
                    <h1>Error</h1>
                    <p>${formState.message}</p>
                </div>

                <!-- Form -->
                <div v-if="formState.form" class="form">
                   
                    <div class="form-header animate__animated animate__bounceIn animate__delay-1s" v-if="!email.sending">
                      <!-- <h1>Enter to Play</h1> -->
                        <p>Enter your e-mail to play the Game. Solve the puzzle, and you'll win a free sticker! Be sure to check your inbox for verification.</p>
                    </div>

                    <div v-if="!email.valid" class="error_msg">Please enter a valid e-mail.</div>
                    
                    <div v-if="!email.sending" class="animate__animated animate__bounceIn animate__delay-2s">

                        <div class="name">

                            <input v-model="firstName" 
                            type="text" 
                            placeholder="First Name"/>

                            <input v-model="lastName" 
                                type="text" 
                                placeholder="Last Name"/>
                        </div>

                        <div class="email" 
                              
                            :class="{'error': !email.valid}">

                            <div class="email-container">

                                <input v-model="email.address" 
                                    id="email"  
                                    type="email" 
                                    placeholder="Email"
                                    v-on:keyup.enter="addEmail()"
                                    @focus="resetEmail()"/>

                                    <div class="subscribe animate__animated animate__bounceIn animate__delay-3s"
                                        :class="{'error': !subscribe}">
                                        <input v-model="subscribe" type="checkbox" @click="subscribe = !subscribe"/> 
                                        <span v-if="subscribe">I agree to receive occasional emails from Bob's Big Boy Burbank.</span>
                                        <span v-else>You have to subscribe to enter the contest.</span>
                                    </div>

                         
                                <div class="svg-btn animate__animated animate__bounceIn animate__delay-4s" 
                                    @click="verifyEmail()"> 
                                        <img :src="btnGraphics.enter" alt="Enter" width="100%" height="auto"> 
                                </div>

                        </div>

                    </div>

                    <!-- sending -->
                    <div v-if="email.sending" class="sending">
                        <h1>Sending...</h1>
                    </div>
                </div>

            
            
            </div>

        <!-- end page container -->
        </div>

    <!-- end container -->
    </div>
    <div class="scroller"> </div>
<!-- end app -->
</div>


<script src="{{ 'howler.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'vue.global.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'landing-hv.js' | asset_url }}" defer="defer"></script>
