{{ 'landing-social.css' | asset_url | stylesheet_tag }}

<div id="app">
    <div v-if="loaded" class="landing-container">

        <div class="col left">

            <div class="left-col-container">

                <div class="form">

                    <div class="name">

                        <input v-model="fname" 
                        type="text" 
                        placeholder="First Name"/>

                        <input v-model="lname" 
                            type="text" 
                            placeholder="Last Name"/>
                    </div>

                    <div class="email" 
                        :class="{'error': !email.valid}">

                        <div v-if="!email.sending" 
                            class="email-container">

                            <input v-model="email.address" 
                                id="email"  
                                type="email" 
                                placeholder="Enter your Email"
                                v-on:keyup.enter="addEmail()"
                                @focus="resetEmail()"/>

                            <div class="submit_btn" 
                                @click="addEmail()"> 
                                Submit
                            </div>

                        </div>

                        <div v-else class="sending"> Sending... </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="col right">
            <ul>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Welcome.gif?v=1674509778"></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Contest.gif?v=1674602064"></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Pin.gif?v=1674597930"></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/HFC.jpg?v=1674596468"></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/HOF2.gif?v=1674595864"></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/finish.gif?v=1673656277"></li>
         
            </ul>
        </div>

    </div>
</div>

<script src="{{ 'vue@3.0.11.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'moment-with-locales.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'landing-social.js' | asset_url }}" defer="defer"></script>