<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}</noscript>

<div>
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

    <!-- scroll -->
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".swiper-container", {
        lazy: {
          //  tell swiper to load images before they appear
          loadPrevNext: true,
          // amount of images to load
          loadPrevNextAmount: 2,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      console.log(swiper);
    </script>

    <style>
      /* ----------------------------- swiper styles ----------------------------- */
      .swiper-container {
        width: 100%;
        border:1px solid red;
        margin:0;
        padding:0;
        overflow:hidden;
        height: 600px;
      }

      .swiper-wrapper {
        list-style:none;
        margin:0;
        padding:0;
        height: 600px;
      }
      
      .swiper-slide {
        border:1px solid green;
        margin:0;
        padding:0;
        text-align: center;
        font-size: 18px;
        height: 600px;
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
      </style>
      



{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
