{% style %}

      @font-face {
        font-family: "StickyToffee";
        src: url( {{- 'DK-Sticky-Toffee.otf' | asset_url -}} );
      }

      @font-face {
        font-family: "AvenirNextLTPro-Medium";
        src: url( {{- 'font-avenir-next_light.eot' | asset_url -}} );
        src: url( {{- 'font-avenir-next_light.eot?#iefix' | asset_url -}} ) format("embedded-opentype"),
          url(  {{- 'font-avenir-next_light.woff2' | asset_url -}} ) format("woff2"), url( {{- 'font-avenir-next_light.woff' | asset_url -}} ) format("woff"),
          url( {{- 'font-avenir-next_light.svg#OTS-derived-font' | asset_url -}} ) format("svg");
        font-weight: normal;
        font-style: normal;
      }
    
      @font-face {
        font-family: "AvenirNextLTPro-Bold";
        src: url(  {{- 'font-avenir-next_medium.eot' | asset_url -}} );
        src: url( {{- 'font-avenir-next_medium.eot?#iefix' | asset_url -}} ) format("embedded-opentype"),
          url( {{- 'font-avenir-next_medium.woff2' | asset_url -}} ) format("woff2"), url(  {{- 'font-avenir-next_medium.woff' | asset_url -}} ) format("woff"),
          url(    {{- 'font-avenir-next_medium.svg#OTS-derived-font' | asset_url -}} ) format("svg");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Harvard';
        src: url( {{- 'font-filmotype-harvard.eot' | asset_url -}} );
        src: url( {{- 'font-filmotype-harvard.eot?#iefix' | asset_url -}} ) format('embedded-opentype'),
        url(  {{- 'font-filmotype-harvard.woff2' | asset_url -}}) format('woff2'),
        url(  {{- 'font-filmotype-harvard.woff' | asset_url -}}) format('woff'),
        url(  {{- 'font-filmotype-harvard.svg#Hudson' | asset_url -}}) format('svg');
        font-weight: normal;
        font-style: normal; 
      }

{% endstyle %}

{{ 'spin-2-win.css' | asset_url | stylesheet_tag }}

<div id="app">

    <div v-if="ready" class="spin-win" :class="gameState">

        <div class="game" :class="{'ready': ready}">
            
            <div class="game-center">

                <!-- title -->
                <div class="title">
                    <h2 v-for="index in 3" :key="index" class="noselect">${mainTitle}</h2>

                    <div v-if="gameState != 'your-code'" 
                         class="credits noselect"
                         :class="{'count-up': wonCredits}"> 
                         Credits = ${credits}
                    </div>

                    <div v-if="gameState === 'your-code'" class="discount-code">
                        <h3>${winning_prize.code}</h3>
                        <p>Code auto-applied Discount appears at Checkout</p>
                        <a class="btn" href="/collections/all">Shop Now</a>
                    </div>
                </div>
                
                    <!-- spin wheel -->
                    <div v-if="wheelActive" 
                        class="wheel noselect">

                        <div class="arrow"></div>

                        <div class="spin-btn" @click="spin()">
                            <div class="arrow"></div>

                            <div>
                                <div class="accent">Spin</div> 
                                <div>to</div> 
                                <div class="accent">Win</div>
                            </div>

                        </div>

                        <ul :style="{'transform': 'rotate('+wheelPos+'deg)'}">
                            <li  v-for="prize in win" 
                                :key="prize.deg" 
                                :style="{'transform': 'rotate('+prize.deg+'deg)'}">
                                <div class="label" v-html="prize.title"></div>
            
                            </li>
                        </ul>

                    </div>

                    <!-- prize -->
                    <div v-else="!wheelActive" 
                         class="win">

                        <div class="prize">
                            <div class="prize-title">
                                <h2 v-html="winning_prize.title"></h2>
                                Valid only at <br/>
                                <a href="#">Bobs.net/shop</a>
                            </div>

                            <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/prize-card.png?v=1667522299' 
                                width="auto" 
                                height="auto" 
                                loading="lazy" />
                        </div>

                        <div v-if="gameState === 'show-prize'" 
                             class="email" 
                             :class="{'error': !email.valid}">

                            <div v-if="!email.sending" 
                                class="email-container">

                                <input v-model="email.address" 
                                    id="email"  
                                    type="email" 
                                    placeholder="Enter your email address"
                                    @focus="email.address = ''"/>

                                <button class="submit_btn" 
                                        @click="addEmail()"> 
                                        Get Code 
                                </button>

                            </div>

                            <div v-else class="sending"> Sending... </div>

                        </div>

                        <div v-if="gameState === 'show-prize'">

                            <div v-if="credits" 
                                class="spin-again">
                                <h3 class="btn" @click="spinAgain()">Or Spin Again</h3>
                                <div>You will loose this prize</div>
                            </div>

                            <div v-else 
                                class="spin-again">
                                <h3>No Spins Left</h3>
                                <div>Enter e-mail to claim prize</div>
                            </div>
                            
                        </div>


                    </div>
                
                    <div>
                        <p v-if="gameState === 'your-code'" class="warning">CANNOT BE REDEEMED AT THE RESTAURANT</p>    
                        <p class="valid-only">Valid only at <a href="/collections/all">Bobs.net/shop</a></p>
                        <p v-if="gameState === 'your-code'" class="copyright"> &copy; 2022 Bob's Burbank (Bobs.net) "Bob's" & "Big Boy" are Registered Trademarks of Big Boy Restaurant Group, LLC, Southfield, MI, U.S.A.</p>
                    </div>
            </div>


            <!-- big boy jumping in -->
            <div v-if="wheelActive" 
                class="gameboy-contianer">
                    <div class="gameboy" :class="boy.jump">

                        <img v-show="boy.armUp" 
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_Up.svg?v=1667588656' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />

                        <img v-show="!boy.armUp"
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_In.svg?v=1667588656' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />
                    </div>
                </div>

        
        </div>    
       <!-- end game -->
    
    <!-- sky -->
    <div class="sky">

        <div>
            <div class="sun"></div>
            
            <img class="cloud one"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-1.svg?v=1667140810' width="auto" height="auto" loading="lazy" />
            <img class="cloud two"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-2.svg?v=1667140810' width="auto" height="auto" loading="lazy" />
            <img class="cloud three"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-3.svg?v=1667140810' width="auto" height="auto" loading="lazy" />
            <img class="cloud four"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-4.svg?v=1667140810' width="auto" height="auto" loading="lazy" />

            <ul class="birds left">
                <li class="bird time-3">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-2">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-1">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
            </ul>

            
            <ul class="birds right">
                <li class="bird time-1">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-2">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-3">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
            </ul>
       </div>
        
    </div>

    <!-- checker board -->
    <div class='bg'>
        <div class="checkerboard"></div>
    </div>

    <!-- modal -->
    <div v-if="modalMessage.length" 
         class="modal"
         @click="modalMessage = []">
        <div class="modal-container">
            <div class="close"></div>
            <ul>
                <li v-for="item in modalMessage" :key="item.message">
                    ${item.message}
                </li>
            </ul>
        </div>
    </div>

</div>


<script src="{{ 'vue@3.0.11.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'howler.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'spin-2-win.js' | asset_url }}" defer="defer"></script>