{% style %}

      @font-face {
        font-family: "StickyToffee";
        src: url( {{- 'DK-Sticky-Toffee.otf' | asset_url -}} );
      }

      @font-face {
        font-family: "AvenirNextLTPro-Medium";
        src: url( {{- 'font-avenir-next_light.eot' | asset_url -}} );
        src: url( {{- 'font-avenir-next_light.eot?#iefix' | asset_url -}} ) format("embedded-opentype"),
          url(  {{- 'font-avenir-next_light.woff2' | asset_url -}} ) format("woff2"), url( {{- 'font-avenir-next_light.woff' | asset_url -}} ) format("woff"),
          url( {{- 'font-avenir-next_light.svg#OTS-derived-font' | asset_url -}} ) format("svg");
        font-weight: normal;
        font-style: normal;
      }
    
      @font-face {
        font-family: "AvenirNextLTPro-Bold";
        src: url(  {{- 'font-avenir-next_medium.eot' | asset_url -}} );
        src: url( {{- 'font-avenir-next_medium.eot?#iefix' | asset_url -}} ) format("embedded-opentype"),
          url( {{- 'font-avenir-next_medium.woff2' | asset_url -}} ) format("woff2"), url(  {{- 'font-avenir-next_medium.woff' | asset_url -}} ) format("woff"),
          url(    {{- 'font-avenir-next_medium.svg#OTS-derived-font' | asset_url -}} ) format("svg");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Harvard';
        src: url( {{- 'font-filmotype-harvard.eot' | asset_url -}} );
        src: url( {{- 'font-filmotype-harvard.eot?#iefix' | asset_url -}} ) format('embedded-opentype'),
        url(  {{- 'font-filmotype-harvard.woff2' | asset_url -}}) format('woff2'),
        url(  {{- 'font-filmotype-harvard.woff' | asset_url -}}) format('woff'),
        url(  {{- 'font-filmotype-harvard.svg#Hudson' | asset_url -}}) format('svg');
        font-weight: normal;
        font-style: normal; 
      }

{% endstyle %}

{{ 'spin-2-win.css' | asset_url | stylesheet_tag }}

<div id="app">

    <div v-if="ready" class="spin-win" :class="gameState">


        <div class="game" :class="{'ready': ready}">
            
            <div class="game-center">

                <div v-if="gameState === 'enter-email'" 
                    class="email" 
                    :class="{'error': !email.valid}">

                    <div class="credits noselect">Get 3 Credits</div>

                   <div v-if="!email.sending" 
                       class="email-container">

                       <input v-model="email.address" 
                           id="email"  
                           type="email" 
                           placeholder="Enter your Email"
                           v-on:keyup.enter="addEmail()"
                           @focus="resetEmail()"/>

                       <button class="title submit_btn" 
                               @click="addEmail()"> 
                               <h2 v-for="index in 3" :key="index" class="noselect">Play</h2>
                       </button>

                   </div>

                   <div v-else class="sending"> Sending... </div>

               </div>

                <!-- title -->
                <div v-if="gameState != 'enter-email'" 
                    class="title" 
                    :class="{'fadeOut': titleFade}">

                    <h2 v-for="index in 3" :key="index" class="noselect">${mainTitle}</h2>

                    <div v-if="gameState != 'your-code'" 
                         class="credits noselect"
                         :class="{'count-up': wonCredits}"> 
                          ${credits} Credits 
                    </div>

                    <div v-if="gameState === 'your-code'" class="discount-code">
                        <h3>${winning_prize.code}</h3>
                        <p>Code auto-applied Discount appears at Checkout</p>

                        <div class="btn black-white" @click="shop()">
                            <h3>Shop Now</h3>
                            <h3>Shop Now</h3>
                        </div>

                    </div>
                </div>
                
                    <!-- spin wheel -->
                    <div v-if="wheelActive" 
                        class="wheel noselect">

                        <div class="arrow"></div>

                        <div class="spin-btn" @click="spin()">
                            <div class="arrow"></div>

                            <div>
                                <div class="accent">Spin</div> 
                                <div>to</div> 
                                <div class="accent2">Win</div>
                            </div>

                        </div>

                        <ul :style="{'transform': 'rotate('+wheelPos+'deg)'}">
                            <li  v-for="prize, index in win" 
                                :key="prize.deg" 
                                :style="{'transform': 'rotate('+prize.deg+'deg)'}"
                                @click="testSpin(index)">

                                <div v-if="fish.useFish" class="fish"><img :src="fish.images[index]" /> </div>
                                <div v-else class="label" v-html="prize.title"></div>
                            </li>
                        </ul>

                    </div>

                    <!-- prize -->
                    <div v-else="!wheelActive" 
                         class="win">

                        <div class="prize">
                            <div class="prize-title">
                                <h2 v-html="winning_prize.title"></h2>
                                Valid only at <br/>
                                <a href="#">Bobs.net/shop</a>
                            </div>

                            <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/win-card-pink.png?v=1668637055' 
                                width="auto" 
                                height="auto" 
                                loading="lazy" />
                        </div>

                        <div v-if="gameState === 'show-prize'">

                            <div v-if="credits" 
                                class="spin-again">
                                <div>Show Cashier in front to get your prize.</div>
                                <div class="btn black-white"  @click="reset()">
                                    <h3>Or Spin Again</h3>
                                    <h3>Or Spin Again</h3>
                                </div>
                                <div>You will lose this prize</div>
                            </div>

                            <div v-else 
                                class="spin-again">
                                <div class="btn black-white"  @click="reset()">
                                    <h3>No Spins Left</h3>
                                    <h3>No Spins Left</h3>
                                </div>
                                <div>Sorry your credits are 0</div>
                            </div>
                            
                        </div>

                    </div>
                
                    <div>
                       
                        <p class="valid-only">${returnDate()}</p>
                        <p v-if="gameState === 'your-code'" class="copyright"> &copy; 2022 Bob's Burbank (Bobs.net) "Bob's" & "Big Boy" are Registered Trademarks of Big Boy Restaurant Group, LLC, Southfield, MI, U.S.A.</p>
                    </div>
            </div>


            <!-- big boy jumping in -->
            <div v-if="wheelActive" 
                class="gameboy-contianer">
                    <div class="gameboy" :class="boy.jump">

                        <img v-show="boy.armUp" 
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_Up-blue2.svg?v=1671134564' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />

                        <img v-show="!boy.armUp"
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_In-blue2.svg?v=1671134564' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />

                        <!-- 
                        <img v-show="boy.armUp" 
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_Up-blue.svg?v=1668635833' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />

                        <img v-show="!boy.armUp"
                            src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bob_Hand_In-blue.svg?v=1668635823' 
                            width="auto" 
                            height="auto" 
                            loading="lazy" />
                         -->
                    </div>
                </div>

        
        </div>    
       <!-- end game -->
    

    <!-- sky -->
    <div class="sky">

        <div>
            <div class="sun"></div>
            
            <img class="cloud one"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-1-outline.svg?v=1668635841' width="auto" height="auto" loading="lazy" />
            <img class="cloud two"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-2-outline.svg?v=1668635846' width="auto" height="auto" loading="lazy" />
            <img class="cloud three"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-3-outline.svg?v=1668635852' width="auto" height="auto" loading="lazy" />
            <img class="cloud four"src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cloud-4-outline.svg?v=1668635856' width="auto" height="auto" loading="lazy" />

            <ul class="birds left">
                <li class="bird time-3">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-2">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-1">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
            </ul>

            
            <ul class="birds right">
                <li class="bird time-1">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-2">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
                <li class="bird time-3">
                    <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bird.svg?v=1667140810' 
                        width="auto" 
                        height="auto" 
                        loading="lazy" />
                </li>
            </ul>
       </div>
        
    </div>

    <!-- checker board -->
    <div class='bg'>
        <div class="checkerboard"></div>
    </div>


    <div v-if="testing.test" class="test-mode">TEST MODE</div>

    <!-- modal -->
    <div v-if="modalMessage.display" 
         class="modal"
         @click="modalMessage.display = false">
        <div class="modal-container">
            <div class="close">
                {%- render 'icon-times-solid' -%}
            </div>
            <ul>
                <li v-for="item in modalMessage.content" :key="item.message.content">
                    ${item.message}
                </li>
            </ul>
        </div>
    </div>

</div>


<script src="{{ 'vue@3.0.11.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'howler.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'moment-with-locales.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'spin-2-win.js' | asset_url }}" defer="defer"></script>